@charset "UTF-8";

/* 
    id em HTML é convertido para # em CSS
    class em HTML é convetido para . em CSS
    : = pseudo class
    :: = pseudo element
    > = children
*/

body {
    background-image: linear-gradient(to right, #E7CAED, #B2EDDA);
    background-color: #ffffff;
    color: #000000;
    margin: auto;
    width: 70%;
}
h1 {
    color: #00559b;
}

.fundo:hover {
    color: #b123ce;
    background-color: #B2EDDA;
}

h2:hover {
    color: #b123ce;
}

h1#principal {
    text-align: center;
    color: #000000;
    background-color: #dfbedf;
}
.intermediario {
    color: #b123ce;
}
.destaque {
    background-color: #ceeb81;
}
div {
    display: inline-block;
    background-color: #ceeb81;
    border: 1px solid #000000;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover {
    background-color: #B2EDDA;
}

