@charset "UTF-8";

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}


/* Configuração Menu */
nav {
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    padding: 10px;
}

nav > a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
    font-family: var(--fonte-Destaque);
    font-size: 1em;
}

nav > a:hover {
    color: rgb(124, 124, 126);
}